<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login-page">Login</a></li>
    <li><a href="/signup-page">Signup</a></li>

    <%# to render something conditionally, we can use "if" %>
    <%# we can type it like in javascript, we only need to wrap each line in ejs delimiters %>
   

</ul>
