h1 {
    background-color: black;
    color: white;
    font-size: 3em;
    letter-spacing: .7em;
    padding: .7em;
    text-align: center;

}

ul {
    padding-left: 0;
    display: none;
    margin: 1.5em;
}

/* li {
    margin: 1em;
} */

#list {
    display: flex;
    justify-content: space-between;
    font-size: 2.5em;
    background-color: lightblue;
    color: white;
}

.actors {
    list-style-type: none;
    font-size: .7em;
    
}

.movie {
    padding: .8em;
}


/*
*These setting below only active when a movie name is 'clicked' on.
*/

.selected .actors {
    display: block;
    color: white;
}

.selected li {
    margin-top: .5em ;
}

.selected {
    color: lightblue;
    background-color: black;
    width: 18%;
    text-align: center;
}
