*{
    margin: 0 ;
    padding: 0 ;
}



@media only screen and (min-width:500px){


.big-container{
    position: relative;
    width: 99.7vw;
    height: 99vh ;
    
    
}


.header{
width: 100%;
height: 10vh;

position: relative;


}

.header :nth-child(1){
    transform: scale(0.7);
    left: 1vh ;
    position: absolute;
    top: 1vh;
    
}

.header :nth-child(2){
    transform: scale(0.7);
    position: absolute;
    right: 4vw;
    top: 0vh;
}




.main-body{
    position: relative;
    

}

.main-body :nth-child(1){
   width: 100% ;
   height: auto;
   
   

}

.main-body :nth-child(2){
    color: white;
    font-size: 4vw;
    position: absolute;
    top: 30vw;
    left: 20vw;
    
 
 }

 .button-1{
    position: absolute;
    border:0.7vw solid rgb(204, 102, 0);
    background-color: rgb(255, 204, 51);
    height: 5vw ;
    width: 26vw;
    font-size: 3vw;
    color: rgb(204, 102, 0);
    top: 36vw ;
    left: 36vw ;
    border-radius: 25vw;
    
}   





.lower-body-container{
width: 100vw;
height: 24vw;
top: -0.9vw;
background-color: rgb(204, 204, 204);
position: relative;

}

.lower-body-container :nth-child(1){

width: 3vw ;
height: 3vw ;
position: absolute;
top: 3vw;
left: 5vw;
}

.lower-body-container :nth-child(2){

    font-size: 2vw;
    position: absolute;
    top: 2.8vw;
    left: 9vw;
    font-weight: bolder;


}
.lower-body-container :nth-child(3){

font-size: 2vw;
position: absolute;
top: 5vw;
left: 9vw;
width: 38vw;

}

.lower-body-container :nth-child(4){

position: absolute;
width: 3vw;
height: 3vw;
top: 12vw ;
left: 5vw ;


}

.lower-body-container :nth-child(5){

    font-size: 2vw;
    position: absolute;
    top: 12vw;
    left: 9vw;
    font-weight: bolder;



}

.lower-body-container :nth-child(6){

    font-size: 2vw;
    position: absolute;
    top: 14vw;
    left: 9vw;
    
    width: 38vw;



}

.lower-body-container :nth-child(7){

    position: absolute;
    width: 3vw;
    height: 3vw;
    top: 3vw ;
    left: 55vw ;



}

.lower-body-container :nth-child(8){

    font-size: 2vw;
    position: absolute;
    top: 2.7vw;
    left: 59vw;
    font-weight: bolder;

}


.lower-body-container :nth-child(9){

    font-size: 2vw;
    position: absolute;
    top: 4.6vw;
    left: 59vw;
    
    width: 38vw;



}

.lower-body-container :nth-child(10){
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: 12vw ;
    left: 55vw ;

}

.lower-body-container :nth-child(11){

    font-size: 2vw;
    position: absolute;
    top: 12vw;
    left: 59.2vw;
    font-weight: bolder;

}

.lower-body-container :nth-child(12){

    font-size: 2vw;
    position: absolute;
    top: 14vw;
    left: 59.2vw;
    
    width: 38vw;



}

.footer{           
    
    width: 100vw;
    height: 3vw;
    background-color: grey;
   top: -0.9vw ;
    position: relative;
   font-size: 1.5vw;
    color: white;

    
    

}

.footer :nth-child(1){
position: absolute;
left: -7vw;



}


}

@media only screen and (max-width:499px){
  

.big-container{
        position: relative;
        width: 400vw;
        height: 400vw ;
        
        
    }



.header{
display: flex;


width: 400vw;
height: 40vw;
justify-content: space-between;


}

.header :nth-child(1){
    transform: scale(2);
    position: relative;
    left: 50vw;
    
}

.header :nth-child(2){
    transform: scale(1.5);
    position: relative;
    right: 50vw;
    
}


.main-body{
    position: relative;
    

}

.main-body :nth-child(1){
   width: 100% ;
   height: auto;
   
   

}

.main-body :nth-child(2){
    color: white;
    font-size: 25vw;
    position: absolute;
    top: 65vw;
    left: 60vw;
    width: 300vw;
    
 
 }

 .button-1{
    position: absolute;
    border:0.7vw solid rgb(204, 102, 0);
    background-color: rgb(255, 204, 51);
    height: 40vw ;
    width: 208vw;
    font-size: 24vw;
    color: rgb(204, 102, 0);
    top: 140vw ;
    left: 90vw ;
    border-radius: 25vw;
    
}   

span{
    display: flex;
    justify-content: center;
    position: relative;
    right: 20vw;
}


.lower-body-container{
    width: 400vw;
    height: 700vw;
    top: -0.9vw;
    background-color: rgb(204, 204, 204);
    position: relative;
    
    }

.lower-body-container :nth-child(1){

        width: 48vw ;
        height: 48vw ;
        position: absolute;
        top: 25vw;
        left: 40vw;
        }
        

.lower-body-container :nth-child(2){

            font-size: 22vw;
            position: absolute;
            top: 25vw;
            left: 110vw;
            width: 140vw;
            font-weight: bolder;
        
        
        }

.lower-body-container :nth-child(3){

            font-size: 21vw;
            position: absolute;
            top: 75vw;
            left: 110vw;
            width: 200vw;
            
            }
 .lower-body-container :nth-child(4){

                position: absolute;
                width: 48vw;
                height: 48vw;
                top: 355vw ;
                left: 40vw ;
                
                
                }

                .lower-body-container :nth-child(5){

                    position: absolute;
                    width: 170vw;
                    height: 48vw;
                    top: 355vw ;
                    left: 110vw ;
                    font-size: 22vw;
                    font-weight: bolder;
                    
                    
                    }

                    .lower-body-container :nth-child(6){

                        position: absolute;
                        width: 200vw;
                        height: 48vw;
                        top: 400vw ;
                        left: 110vw ;
                        font-size: 22vw;
                        
                        
                        }

                .lower-body-container :nth-child(7){

                    position: absolute;
                    width: 48vw;
                    height: 48vw;
                    top: 180vw ;
                    left: 40vw ;
                    
                    
                    }
                    .lower-body-container :nth-child(8){

                        font-size: 22vw;
                        position: absolute;
                        top: 175vw;
                        left: 110vw;
                        font-weight: bolder;
                    
                    }
                    
                    .lower-body-container :nth-child(9){

                        font-size: 22vw;
                        position: absolute;
                        top: 195vw;
                        left: 110vw;
                        
                        width: 180vw;
                    
                    
                    
                    }





                    .lower-body-container :nth-child(10){

                        position: absolute;
                        width: 48vw;
                        height: 48vw;
                        top: 550vw ;
                        left: 40vw ;
                        
                        
                        }


                        .lower-body-container :nth-child(11){

                            font-size: 22vw;
                            position: absolute;
                            top: 550vw;
                            left: 110vw;
                            font-weight: bolder;
                        
                        }
                        
                        .lower-body-container :nth-child(12){
                        
                            font-size: 22vw;
                            position: absolute;
                            top: 570vw;
                            left: 110vw;
                            
                            width: 180vw;
                        
                        
                        
                        }
                        .footer{           
    
                            width: 400vw;
                            height: 50vw;
                            background-color: grey;
                           top: -0.8vw ;
                            position: relative;
                           font-size: 22vw;
                            color: white;
                            justify-content: flex-start;
                        
                            
                            
                        
                        }

                        .footer :nth-child(1){
                            position: absolute;
                            left: -120vw;
                            
                            
                            
                            
                            }

}