<!DOCTYPE html>
<html lang="en">
   <%- include('partials/htmlHead')%>
   <!-- body -->
   <body class="main-layout">
      <%- include('partials/header', {page: 'login'})%>
      <!-- section -->
      <div class="section layout_padding">
         <div class="container">
            <div class="row">
                Login Page
            </div>
         </div>
      </div>
      <!-- end section -->
      <%- include('partials/footer')%>
      <%- include('partials/scripts')%>
   </body>
</html>