html {
	font-family: sans-serif;
}

table,
tr,
td {
	border: 1px solid black;
	border-collapse: collapse;
}


td {
	/* Student css */
	width: 200px;
	height: 200px;
	border: 2px solid black;
	font-size: 100px;
}

/* Student css */

/* centering */
table {
	margin: auto;
}
body {
	text-align: center;
}

#reset {
	font-size: 1.5rem;
	margin-top: 3rem;
	padding: 1.5rem 3rem;
}