*{
    margin:0;
    padding: 0;
}



div.processing-item:nth-child(1), .processing-container span:nth-child(1){
    position: relative;
    margin-top: 10vh;
    animation: example 1s 1 forwards;
  
   transform: scale(0.2);
   
}



div.processing-item:nth-child(2), .processing-container span:nth-of-type(1) {
position: relative;
animation: name 1s 1s 3 forwards ;
transform: scale(0.2);
margin-top: 0vw;
margin-left: 9vw;
visibility: hidden;


}


div.processing-item:nth-child(3), .processing-container span:nth-of-type(2) {
    
   
    position: relative;
    animation: name_2 0.5s 4s 1 forwards;
   
    margin-top: -50vh;
   visibility: hidden;
   
    
    }




@keyframes example{


0%{right: -100px; visibility: visible;}


100%{right: 50px; visibility: hidden;}

}

@keyframes name{
    0%{right: 0px; visibility: visible}

    100%{right: 150px; visibility:hidden;}
    
    }  
    
       
@keyframes name_2{
    0%{transform: translateY(-200px); visibility: visible;}
    50%{transform: translateY(0px); visibility: visible;}
    100%{transform: translateY(-50px); visibility: visible;}
}

