.container{

    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: minmax(100px, 350px) 1fr minmax(100px, 350px);
    grid-gap: 10px;
    
    

}

.container div img{
    grid-column: span 1; 
}

/* .item1{
   grid-column: span 1;
   
}

.item2{
    grid-column: span 1;
}

.item3{
    grid-column: span 1;
}

.item4{
    grid-column: span 1;
}

.item5{
    grid-column: span 1;
}

.item6{
    grid-column: span 1;
}

.item7{
    grid-column: span 1;
}

.item8{
    grid-column: span 1;
}

.item9{
    grid-column: span 1;
} */




img {
    width: 100%;
}