body, html {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style: none ;
    

}

li{
    position: relative;
    height: 3vh;
    width: 3vw ;
    display: inline-block;
    background-color: lightblue;
    text-align: center ;
    padding-top: 7px;
    
}


li:hover{
    background-color: red;
    animation: example 0.8s   ;
}

@keyframes example{
    100% {top:-5px;}

    

}